<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body class="bg-main">

    <div th:insert="~{shared/header :: copy}"></div>

    <br>
    <table class="table">
        <tr>
          <th>Tag</th>
          <th>Beginn</th>
          <th>Ende</th>
          <th>Kurs</th>
          <th>Raum</th>
          <th>Trainer</th>
          <th>Status</th>
          <th></th>
        </tr>
        <!-- <tr th:if="${!classes.empty}" th:each="class : ${classes}">
          <td th:text="${class.name}"></td>
          <td th:text="${class.category}"></td>
          <td th:text="${class.targetGroup}"></td>
          <td th:text="${class.duration"></td>
          <td><a>Bearbeiten</a></td>
        </tr> -->
        <tr>
            <td><a th:href="${'/owner/events/create'}">Termin hinzufügen..</a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
      </table>




    <!-- FOOTER-->
    <div class="fixed-bottom">
        <div th:insert="~{shared/footer :: copy}"></div>
    </div>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>