<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" th:href="@{/main.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>

<body class="bg-main">

  <div th:insert="~{shared/header :: copy}"></div>

  <div class="container col-12 mx-auto">
    <div class="row">
        <div class="col-12 mt-4 mx-auto">
            <div th:switch="${eventsStruct}">
                <div th:case="null">
                    <span>Keine Produkte gefunden</span>
                </div>
                <div th:case="*">
                    <div th:each="events : ${eventsStruct}">
                        <div th:insert="~{event/event-list-template :: copy(${events})}"></div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <!-- <tr>
        <td>
          <a th:if="${events.empty}">Derzeit keine Termine:</a>
          <a th:href="${'/owner/event/create'}" sec:authorize="hasRole('ADMIN')">Termin hinzufügen..</a>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> -->
  </div>



<br>
<br>

  <!-- FOOTER-->
  <div class="fixed">
    <div th:insert="~{shared/footer :: copy}"></div>
  </div>


  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>