<div th:fragment="copy(filter)">
    <div class="">
        <div class="container">
            <div class="pt-4 pb-4">
                <form>
                    <a li class="list-group-wb-item main-item" href="#wochentag" data-toggle="collapse">Wochentag
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="list-group-wb">
                        <li href="#" id="wochentag" class="collapse list-group-wb-item pl-5">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                            </label>
                        </li>
                    </ul>
                    <a li class="list-group-wb-item main-item" href="#slot" data-toggle="collapse">Slot
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="list-group-wb">
                            <li href="#" id="slot" class="collapse list-group-wb-item pl-5">
                                <input class="form-check-input" type="checkbox">
                                <label class="form-check-label">
                                </label>
                            </li>
                        </ul>
                    <a li class="list-group-wb-item main-item" href="#kurs" data-toggle="collapse">Kurs
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="list-group-wb">
                        <li href="#" id="klasse" class="collapse list-group-wb-item pl-5">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                            </label>
                        </li>
                    </ul>
                    <a li class="list-group-wb-item main-item" href="#trainer" data-toggle="collapse">Trainer
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="list-group-wb">
                        <li href="#" id="trainer" class="collapse list-group-wb-item pl-5">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                            </label>
                        </li>
                    </ul>
                    <input class="btn btn-secondary" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </div>
</div>