<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>

<body class="bg-main">

    <div th:insert="~{shared/header :: copy}"></div>

    <div class="con-styling container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="cardbox p-4">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-5">Termin anlegen</h3>
                        <form class="form" th:action="@{/owner/event/add}" th:object="${event}" method="post">
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="inputWeekday">Wochentag</label>
                                    <select id="inputWeekday" class="form-control" th:field="*{weekday}" required autofocus>
                                        <option value="" selected>Wochentag wählen..</option>
                                        <option th:each="weekday : ${T(de.hsba.ifit.slot.Weekday).values()}"
                                            th:value="${weekday}" th:text="${weekday.displayValue}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="inputStartAt">Beginn</label>
                                    <input type="time" class="form-control" th:field="*{startAt}"
                                        id="inputStartAt" placeholder="Beginn" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="inputCourse">Kurs*</label>
                                    <select th:field="*{course}" id="inputCourse" class="form-control"
                                        disabled>
                                        <option value="" selected>Kurs wählen..</option>
                                        <option th:each="course: ${courses}" th:value="${course.id}"
                                            th:text="${course.name}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="inputRoom">Raum</label>
                                    <select id="inputRoom" class="form-control" th:field="*{room}" disabled>
                                        <option value="" selected>Raum wählen..</option>
                                        <option th:each="room : ${T(de.hsba.ifit.event.Room).values()}"
                                            th:value="${room}" th:text="${room.displayValue}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="inputUser">Trainer*</label>
                                    <select th:field="*{user}" id="inputUser" class="form-control" disabled>
                                        <option value="" selected>Trainer wählen..</option>
                                        <option th:each="user: ${users}" th:value="${user.id}"
                                            th:text="${user.firstname + ' ' + user.lastname }">
                                        </option>
                                    </select>
                                </div>
                            </div>
                    </div>
                    <button class="btn btn-lg btn-secondary btn-block mt-4" type="submit">Weiter ..</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    </div>



    <!-- FOOTER-->
    <div class="fixed-bottom">
        <div th:insert="~{shared/footer :: copy}"></div>
    </div>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>