<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Registrieren</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>

<body class="bg-main">

    <div th:insert="~{shared/header :: copy}"></div>

    <div class="con-styling container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="cardbox p-4">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-5">Trainer anlegen</h3>
                        <form class="form m-4" th:action="@{/owner/trainer/add}" th:object="${trainerForm}" method="post">
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label for="inputName">Name</label>
                                    <input type="text" class="form-control" th:field="*{lastname}" id="inputName" placeholder="Name">
                                    <label class="text-danger small" th:errors="*{lastname}"/>
                                </div>
                                <div class="form-group col-6">
                                    <label for="inputVorname">Vorname</label>
                                    <input type="text" class="form-control" th:field="*{firstname}" id="inputVorname" placeholder="Vorname">
                                    <label class="text-danger small" th:errors="*{firstname}"/>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="inputUsername">Benutzername</label>
                                    <input type="text" id="inputUsername" th:field="*{name}" class="form-control w-100"
                                        placeholder="Benutzername" autofocus>
                                        <label class="text-danger small" th:errors="*{name}"/>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="inputPassword">Passwort</label>
                                    <input type="password" id="inputPassword" class="form-control w-100" th:field="*{password}"
                                        placeholder="Passwort">
                                        <label class="text-danger small" th:errors="*{password}"/>

                                </div>
                            </div>
                            <input type="hidden" value="USER" name="role">
                            <button class="btn btn-lg btn-secondary btn-block mt-4" type="submit">Anlegen</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

   <!-- FOOTER-->
   <div class="ind-footer">
    <div class="fixed-bottom" th:insert="~{shared/footer :: copy}"></div>
  </div>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>