<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>

<body class="bg-main">

    <div th:insert="~{shared/header :: copy}"></div>

    <div class="ml-5 mr-5 m-4">
    <table class="table mx-auto">
      <thead class="thead-light">
        <h5 class="table mx-auto">Trainerliste</h5>
        <tr>
          <th class="font-italic">Vorname</th>
          <th class="font-italic">Nachname</th>
          <th class="font-italic">User</th>
          <th></th>
        </tr>
      </thead>

        <div class="col-10 mt-4">
          <div th:switch="${users}">
            <div th:case="null">
              <span>Keine Trainer angelegt gefunden</span>
            </div>
            <div th:case="*">
              <tr th:each="user : ${users}">
                <td th:text="${user.firstname}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:text="${user.name}"></td>
                <td><a th:href="${'/owner/trainer/edit/' + user.id}">Bearbeiten</a> | <a
                  th:href="${'/owner/trainer/delete/' + user.id}">Löschen</a></td>
              </tr>
            </div>
          </div>
        </div>
        <tr>
            <td><a th:href="${'/owner/trainer/create'}">Trainer hinzufügen..</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
      </table>
    </div>




  
    <div class="fixed-bottom">
        <div th:insert="~{shared/footer :: copy}"></div>
    </div>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>