<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body class="bg-main">

    <div th:insert="~{shared/header :: copy}"></div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="cardbox p-4">
                    <div class="card-body">
                        <h3 class="card-title text-center">Trainer bearbeiten</h3>
                        <br>
                        <form class="form" th:action=" @{${'/owner/trainer/update/' + id}}" th:object="${trainerForm}" method="post">
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label for="inputName">Name</label>
                                    <input type="text" class="form-control" th:field="*{lastname}" id="inputName" placeholder="Name">
                                    <label class="text-danger small" th:errors="*{lastname}"/>
                                </div>
                                <div class="form-group col-6">
                                    <label for="inputVorname">Vorname</label>
                                    <input type="text" class="form-control" th:field="*{firstname}" id="inputVorname" placeholder="Vorname">
                                        <label class="text-danger small" th:errors="*{firstname}"/>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="inputUsername">Benutzername</label>
                                    <input type="text" id="inputUsername" th:field="*{name}" class="form-control w-100"
                                        placeholder="Benutzername" autofocus>
                                        <label class="text-danger small" th:errors="*{name}"/>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="inputPassword">Passwort
                                        <small>(Mind.: 8 Zeichen, eine Zahl, einen Groß- und einen
                                            Kleinbuchstabe)</small></label>
                                    <input type="password" id="inputPassword" class="form-control w-100" th:field="*{password}"
                                        placeholder="Passwort">
                                        <label class="text-danger small" th:errors="*{password}"/>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-lg btn-secondary btn-block" type="submit">Speichern</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



    <br>
    <br>

    <!-- FOOTER-->
    <div class="fixed-bottom">
        <div th:insert="~{shared/footer :: copy}"></div>
    </div>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>