<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>

<body class="bg-main">

    <div th:insert="~{shared/header :: copy}"></div>

    <div class="con-styling container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="cardbox p-4">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-5">Kurs anlegen</h3>
                        <form class="form" th:action="@{/owner/course/add}" th:object="${courseForm}" method="post">
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="inputCourse">Kursname</label>
                                    <input type="text" class="form-control" th:field="*{name}" id="inputCourse"
                                        placeholder="Kursname">
                                        <label class="text-danger small" th:errors="*{name}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="inputDescription">Beschreibung</label>
                                    <textarea class="form-control" th:field="*{description}" id="inputDescription"
                                        placeholder="Beschreibung"></textarea>
                                        <label class="text-danger small" th:errors="*{description}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="inputCategory">Kategorie</label>
                                    <select id="inputCategory" class="form-control" th:field="*{category}">
                                        <option value="" selected>Kategorie wählen..</option>
                                        <option th:each="category : ${T(de.hsba.ifit.course.Category).values()}"
                                            th:value="${category}" th:text="${category.displayValue}">
                                        </option>
                                    </select>
                                    <label class="text-danger small" th:errors="*{category}">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="inputMinutes">Minuten</label>
                                    <input type="number" class="form-control" th:field="*{duration}" id="inputMinutes"
                                        placeholder="Minuten">
                                        <label class="text-danger small" th:errors="*{duration}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="inputCategory">Zielgruppe</label>
                                    <select id="inputCategory" class="form-control" th:field="*{targetGroup}">
                                        <option value="" selected>Zielgruppe wählen..</option>
                                        <option th:each="targetGroup : ${T(de.hsba.ifit.course.TargetGroup).values()}"
                                            th:value="${targetGroup}" th:text="${targetGroup.displayValue}">
                                        </option>
                                    </select>
                                    <label class="text-danger small" th:errors="*{targetGroup}">
                                </div>
                            </div>
                            <button class="btn btn-lg btn-secondary btn-block mt-4" type="submit">Anlegen</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- FOOTER-->
    <div class="fixed-bottom">
        <div th:insert="~{shared/footer :: copy}"></div>
    </div>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>