<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" th:href="@{/main.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>

<body class="bg-main">

  <div th:insert="~{shared/header :: copy}"></div>

  <div class="ml-5 mr-5 mt-4">
  <table class="table mx-auto">
    <thead class="thead-light">
    <h5 class="table mx-auto">Kursliste</h5>
    <tr>
      <th class="font-italic">Name</th>
      <th class="font-italic">Kategorie</th>
      <th class="font-italic">Zielgruppe</th>
      <th class="font-italic">Dauer</th>
      <th></th>
    </tr>
    </thead>

    <div class="col-10 mt-4">
      <div th:switch="${courses}">
        <div th:case="null">
          <span>Keine Kurse angelegt gefunden</span>
        </div>
        <div th:case="*">
          <tr th:each="course : ${courses}">
            <td th:text="${course.name}"></td>
            <td th:text="${course.category.displayValue}"></td>
            <td th:text="${course.targetGroup.displayValue}"></td>
            <td th:text="${course.duration}"></td>
            <td><a th:href="${'/owner/course/edit/' + course.id}">Bearbeiten</a> | <a
                th:href="${'/owner/course/delete/' + course.id}">Löschen</a></td>
          </tr>
        </div>
      </div>
    </div>

    <tr>
      <td><a th:href="${'/owner/course/create'}">Kurs hinzufügen..</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  </div>




  <!-- FOOTER-->
  <div class="fixed-bottom">
    <div th:insert="~{shared/footer :: copy}"></div>
  </div>


  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>