<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>

<body class="bg-main">

    <div th:insert="~{shared/header :: copy}"></div>

    <div class="ml-5 mr-5 m-4 w-75 mx-auto">
    <table class="table">
      <thead class="thead-light">
        <h5 class="table mx-auto">Meine Termine</h5>
      <tr>
        <th>Tag</th>
        <th>Beginn</th>
        <th>Ende</th>
        <th>Kurs</th>
        <th>Raum</th>
      </tr>
      </thead>
  
      <div class="col-10 mt-4">
            <tr th:each="event : ${user.events}">
              <td th:text="${event.weekday.displayValue}"></td>
              <td th:text="${event.startAt}"></td>
              <td th:text="${event.startAt.plusMinutes(event.course.duration)}"></td>
              <td th:text="${event.course.name}"></td>
              <td th:text="${event.room.displayValue}"></td>
            </tr>
            <tr>
              <td><a th:if="${user.events.empty}">Derzeit keine Termine</a></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </div>
      </div>
    </table>
    </div>




  
    <div class="fixed-bottom">
        <div th:insert="~{shared/footer :: copy}"></div>
    </div>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>