<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>

<body class="bg-main">

    <div th:insert="~{shared/header :: copy}"></div>

    <div class="con-styling container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="cardbox p-4">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-5">Arbeitszeit festlegen</h3>
                        <form class="form" th:action="@{${'/trainer/work/update/'+ user.id}}" th:object="${user}"
                            method="post">

                            <!-- <select class="form-control" id="multiSelectElementsSelected"
                                name="multiSelectElementsSelected" multiple="multiple" th:field="*{slots}">

                                <option th:each="slot : ${slots}" th:value="${slot.id}"
                                    th:text="${slot.weekday.displayValue + ' -------- ' + slot.daytime.name }"></option>

                            </select> -->





                            <table class="table">

                                <thead class="thead-dark">
                                    <tr>
                                        <th></th>
                                        <th th:each="weekaday : ${T(de.hsba.ifit.slot.Weekday).values()}"
                                            th:text="${weekaday.displayValue}"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="daytime : ${T(de.hsba.ifit.daytime.Daytime.DaytimeName).values()}">
                                        <th th:text="${daytime.displayValue}"></th>
                                        <!-- Vorbearbeiten des Ausdruck um Liste der Slots je nach daytime auszutauschen -->
                                        <td th:each="slot : ${__${daytime}__Slots}">
                                            <input type="checkbox" th:field="*{slots}" th:value="${slot.id}">
                                        </td>

                                    </tr>
                                </tbody>

                            </table>


                            <h3 class="card-title text-center mb-4">Kurse wählen</h3>

                            <select class="form-control" id="multiSelectElementsSelected"
                                name="multiSelectElementsSelected" multiple="multiple" th:field="*{courses}">
                                <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name }">
                                </option>
                            </select>
                    </div>
                    <button class="btn btn-lg btn-secondary btn-block mt-4" type="submit">Speicher</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- FOOTER-->
    <div class="fixed-bottom">
        <div th:insert="~{shared/footer :: copy}"></div>
    </div>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>