<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>

<body class="bg-main">

    <div th:insert="~{shared/header :: copy}"></div>


    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="cardbox p-4">
                    <div class="card-body">
                        <h3 class="card-title text-center">Arbeitszeit festlegen</h3>
                        <br>
                        <form class="form" th:action="@{${'/user/settings/update/'+ user.id}}" th:object="${user}"
                            method="post">

                            <select id="multiSelectElementsSelected" name="multiSelectElementsSelected"
                                multiple="multiple" th:field="*{slots}">

                                <option th:each="slot : ${slots}" th:value="${slot.id}"
                                    th:text="${slot.weekday.displayValue + ' -------- ' + slot.daytime.name }"></option>

                            </select>

                            <h3 class="card-title text-center">Kurse wählen</h3>
                            <br>

                            <select id="multiSelectElementsSelected" name="multiSelectElementsSelected"
                                multiple="multiple" th:field="*{courses}">
                                <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name }">
                                </option>
                            </select>
                    </div>

                    <br>
                    <button class="btn btn-lg btn-secondary btn-block" type="submit">Speicher</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- FOOTER-->
    <div class="fixed-bottom">
        <div th:insert="~{shared/footer :: copy}"></div>
    </div>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>