<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<body>
    <footer class="footer font-small text-white p-3" th:fragment="copy">
        <div class="footer-copyright text-center text-white">
            <a class="links" th:href="@{/impressum}">Impressum</a> | <a class="links" th:href="@{/datenschutz}">Datenschutz</a> | Nutzungsbedingungen | Exclusive Car Rental © 2018
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>