<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Registrieren</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body class="bg-main">

    <div th:insert="~{header :: copy}"></div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="cardbox p-4">
                    <div class="card-body">
                        <h3 class="card-title text-center">Registrierung</h3>
                        <div class="carbox-body text-center p-2 pb-4">
                            Willkommen bei Exclusiv Car Rentals! Bitte geben Sie Ihre Mailadresse ein und
                            wählen Sie ein Passwort, um Ihre Registrierung abzuschließen.
                        </div>
                        <form class="form-signin" action="#" th:action="@{/users/add}" th:object="${user}"
                            method="post">
                            <div class="form-label-group">
                                <label for="inputEmail">E-Mail</label>
                                <input type="email" th:field="*{username}" id="inputEmail" class="form-control w-100"
                                    placeholder="E-Mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required
                                    autofocus>
                                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
                            </div>

                            <div class="form-label-group pt-4">
                                <label for="inputPassword">Passwort
                                    <small>(Mind 8 Zeichen, mind. eine Zahl, ein Groß- und ein
                                        Kleinbuchstabe)</small></label>
                                <input type="password" th:field="*{password}" id="inputPassword" class="form-control w-100" placeholder="Passwort"
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                            </div>
                            <div class="form-label-group pt-4">
                                <label for="inputPassword" class="pt-2">Passwort wiederholen</label>
                                <input type="password" id="confirm_password" class="form-control w-100"
                                    placeholder="Passwort wiederholen" required>
                            </div>
                            <br>
                            <button class="btn btn-lg btn-secondary btn-block" th:href="@{/new-user}" type="submit">Registrieren</button>
                        </form>

<!--
                        TODO: vorlage löschen
                        <form action="#" th:action="@{/users/add}" th:object="${user}" method="post">
                            <div class="row">

                                <div class="form-group col-md-8">
                                    <label for="username" class="col-form-label">E-Mail</label>
                                    <input type="text" th:field="*{username}" class="form-control" id="username"
                                        placeholder="username">
                                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
                             </div>
                           <div class="form-group col-md-8">
                               <label for="password" class="col-form-label">Password</label>
                               <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="password"> <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                           </div>
                       
                       
                           <div class="col-md-6">
                               <input type="submit" class="btn btn-primary" value="Registrieren">
                           </div>
                       
                           <div class="form-group col-md-8"></div>
                       
                       </div>
                   </form>
TODO: vorlage löschen-->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SKRIPTE-->
    <script>
        var password = document.getElementById("inputPassword")
            , confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwörter stimmen nicht überein");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <br>
    <br>

    <!-- FOOTER-->
    <div class="fixed-bottom">
        <div th:insert="~{footer :: copy}"></div>
    </div>
</body>

</html>