<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Registrieren</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body class="bg-main">

    <!-- <div th:insert="~{header :: copy}"></div> -->

    <br>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="cardbox p-4">
                    <div class="card-body">
                        <h3 class="card-title text-center">Trainer anlegen</h3>
                        <div class="carbox-body text-center pb-3">
                            Willkommen bei Exclusiv Car Rentals! Bitte geben Sie Ihre Mailadresse und
                            ein Passwort ein.
                        </div>
                        <form class="form-signin" action="#" th:action="@{/users/add}" th:object="${user}"
                            method="post">
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <label for="inputName">Name</label>
                                    <input type="text" class="form-control" th:field="*{name}" id="inputName"
                                        placeholder="Name" required>
                                </div>
                                <div class="form-group col-4">
                                    <label for="inputVorname">Vorname</label>
                                    <input type="text" class="form-control" th:field="*{vorname}" id="inputVorname"
                                        placeholder="Vorname" required>
                                </div>
                            </div>    
                            <div class="form-label-group">
                                <label for="inputUsername">Benutzername</label>
                                <input type="email" th:field="*{username}" id="inputUsername" class="form-control w-100"
                                    placeholder="Benutzername" required autofocus>
                                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
                            </div>

                            <div class="form-label-group pt-2">
                                <label for="inputPassword">Passwort
                                    <small>(Mind.: 8 Zeichen, eine Zahl, einen Groß- und einen
                                        Kleinbuchstabe)</small></label>
                                <input type="password" th:field="*{password}" id="inputPassword" class="form-control w-100" placeholder="Passwort"
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                            </div>
                            <div class="form-label-group pt-2 pb-2">
                                <label for="inputPassword">Passwort wiederholen</label>
                                <input type="password" id="confirm_password" class="form-control w-100"
                                    placeholder="Passwort wiederholen" required>
                            </div>
                            <br>
                            <button class="btn btn-lg btn-secondary btn-block" th:href="@{/new-trainer}" type="submit">Anlegen</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <br>
    <br>

    <!-- FOOTER-->
    <!-- <div class="fixed-bottom">
        <div th:insert="~{footer :: copy}"></div>
    </div> -->
</body>

</html>