<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 w-100" style="background-color: rgb(189, 189, 189);"
  th:fragment="copy">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">Über uns</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Kontakt</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Datenschutzrichtlinie</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class=""></i>Fitness Straße 1</p>
          </li>
          <li>
            <p>
              <i class=""></i>info@ifit.com</p>
          </li>
          <li>
            <p>
              <i class=""></i>+49 999 99999</p>
          </li>
        </ul>

      </div>

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="background-color: rgb(223, 223, 223);">© 2020 Copyright:
    <a th:href="@{/}"> iFit</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->